Backend/parkme.db
Backend/__pycache__/
Backend/venv/
Backend/.env
Backend/latestDiagram.png
Backend/newDiagram.png
Backend/olderDiagram.png
Backend/=2.8.0
ESP32/SECRETS.h
ESP32/compiled_program.bin
settings.json
.agents/
skill-creator/
*.png
.DS_Store
mc.json
mc.json
